

<!DOCTYPE html>
<html lang="en">

<head>  
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>CUBE</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/Picture1.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">

 
</head>

<body>

   <!-- ======= Header ======= -->
   <%- include('partials/header.ejs') %>
   <!-- End Header -->
  
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/breadcrumbs-bg.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Admin Partners</h2>
        <ol>
          <li><a href="index">Home</a></li>
          <li>Admin Partners</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <section class="sample-page">
      <div class="container section-bg" style=" margin: auto; text-align: center;
      justify-content: center;">
        <form  id="AddimageForm" action="/AdminPartners" method="POST" enctype="multipart/form-data" onsubmit="addPartner(event)">
          <div  class="container">
          <h2>Add Partner</h2>
          <input type="file" placeholder="image" accept="image/*" name="image" id="partnerimage" >
          <input placeholder="enter partner name" name="partnerName" id="partnerName">
          <button type="submit" class="btn btn-secondary" style="margin-left: 5px;">add partner</button>

          <div id="Danger" class="alert alert-danger alert-dismissible fade show"role="alert" style="margin-top: 10px;display:none">
           <h4 style="position: relative;left: 10px;"> Please add a Image or a Name </h4>
           <button onclick="hide('Danger')" type="button" class="btn-close" aria-label="Close"></button>
          </div>
          <div id="Success" class="alert alert-success alert-dismissible fade show"role="alert" style="margin-top: 10px;display:none">
            <h4 style="position: relative;left: 10px;">You have add Successfully a Partner</h4>
            <button onclick="hide('success')" type="button" class="btn-close" aria-label="Close"></button>
           </div>
          </div>
        </form>

        <section id="services" class="services section-bg">
          <div class="container" data-aos="fade-up">
            <div class="section-header">
              <h2>OUR PARTNERS</h2>
            </div>
            <div style="margin-top: -60px;" class="row gy-2 ">
              <% if (partners.length>0) { %>
                <% partners.forEach(partner => { %>
                  <div class="col-lg-4 col-md-6"data-aos="fade-up" data-aos-delay="200" id="button">
                    <div class="service-item position-relative ">
                      <div class="icon">
                        <img src=<%= "partner_images/"+partner.ImageName%> style="height: 100%;width:100%; border-radius: 25px;">
                      </div>
                      <h3><%= partner.Title %> </h3>
                    </div>
                    <button type="button" class="btn btn-primary btn-lg"style="position: relative;top: -15px;left: -20px;" onclick="deletePartner('<%- partner._id %>')">Delete</button>

                  </div>
                <% }) %>
              <% } %>
              <!-- End Service Item -->
            </div>
    
          </div>
        </section><!-- End partners Section -->

      </div>
    </section>

  </main><!-- End #main -->

   <!-- ======= Footer ======= -->
   <%- include('partials/footer.ejs') %>
  <!-- End Footer -->


  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    async function addPartner(event) {
        event.preventDefault(); // Prevent the default form submission behavior
        const partnerName = document.getElementById('partnerName').value;
        const formData = new FormData(document.getElementById('AddimageForm'));
        console.log(formData.get('image').name);
        console.log(partnerName);

        if(formData.get('image').name=="" || partnerName==""){
          document.getElementById("Danger").style.display="block";
          return;
        }
        else{
          try {
            const response = await axios.post('/adminAddPartner', formData, {
              headers: {
                'Content-Type': 'multipart/form-data',
              },
            });
      
            if (response.data.success) {
              console.log('Successfully added a partner');
             
               window.location.reload();
             
             
            } else {
              console.error('Failed to add a partner');
            }
          } catch (error) {
            console.error('Error:', error);
          }
          
        }
     
    }
    
  async function deletePartner(partnerID) {
    try {
      const response = await axios.post('/DeleteAdminPartner', { partnerID }, {
        headers: {
          'Content-Type': 'application/json',
        },
      });
  
      if (response.data.success) {
        console.log('Successfully deleted a partner');
        window.location.reload();

      } 
      else {
        console.error('Failed to delete a partner');
      }
    } 
    catch (error) {
      console.error('Error:', error);
    }
  };
  function hide(type){
    if(type=="Danger")
    document.getElementById("Danger").style.display="none";
    if(type=="success")
    document.getElementById("Success").style.display="none";
  } 
  </script>
  
</body>

</html>